body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--mantine-color-orange-6);
  color: var(--mantine-color-white);
}
